@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

body {
    padding: 30px;
    max-width: 1100px;
    margin: 0 auto;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    background: red;
    color: white;
}

h4 {
    border-bottom: 3px solid #0072ff;
    width: 30%;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: #0072ff;
    }
    &:active{
        color: black;
    }
}

svg {
    height: 20px;
}

ul {
    margin: 0;
    padding: 0;
    
    li {
        list-style: none;

        &:before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: #d0d0d0; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
          }
    }
}

select, button {
    background: none;
    border: 3px solid #0072ff;
    padding: 5px 20px;
    outline: none;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}


button {
    width: 150px;
}
button:hover {
    background: #0072ff;
    color: white;
}

button.sub-save-btn {
    background: #0072ff;
    color: white;
}
button:disabled {
    border: 3px solid #75889d;
    background: #ececec;
    color: grey;
    cursor: initial;

    &:hover {
        color: grey;
    }
}

button.signout {
    border: none;
    font-weight: normal;
    color: grey;
    width: auto;
    padding: 0;

    &:hover{
        background: none;
        color: #0072ff;
    }
}

.sub-submit-btn {
    border: 3px solid #0072ff;
    background: #0072ff;
    color: white;
    padding: 5px 0;
}

.sub-submit-btn:enabled { 
    &:hover {
        border:3px solid #0052b6;
        background:#0052b6;
    }
}

hr {
    margin: 30px 0;
}
section {
    margin-bottom: 100px;
}

input {
    border: 3px solid black;
}

nav {
    margin: 0;
    text-align: right;
    font-size: 12px;

    ul {
        li, 
        .auth-links {
            margin-right: 10px;
            display: inline-block;

            &:last-child {
                margin-right: 0;
            }

            a {
                color:#8b8b8b;
                &:hover {
                    color: #0072ff;
                }
            }
        }
    } 
}

.visit-reddit {
    background: #FF4500;
    color: white;
    width: 150px;
    display: inline-block;
    border: 3px solid #FF4500;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    font-size: 13.333px;

    &:hover {
        background: #FF4500;
        color: white;
    }
}

.sticky {
    font-weight: bold;
    color: #0072ff;
}

.container {
    display: flex;

    .comments,
    .created {
        color: #6f8ea3;
        margin-left: 5px;
    }

    .created {
        margin-left: 10px;
    }

    .category-subreddit-item {
        color:#8b8b8b;
        font-size: 12px;

        &:hover {
            color: #0072ff;
        }
    }

    .category-subreddit-item.none:hover {
        color: #8b8b8b;
    }
}

.category-col {
    margin-right: 50px;
}

.wrap {
    width: 800px;
    margin: auto;

    .settings-item {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        .category-edit {
            display: flex;
            width: 247px;
            margin-right: 20px;
        }

        label, input, span {
            flex: 1;
            // align-self: center;;
        }

        button {
            flex: 0.45;
        }

        .settings-item-buttons {
            flex: 2;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;

            input {
                flex: 0.45;
            }
        }
    }
}

.login-btn-group {
    display: flex;
    justify-content: space-between;
    width: 850px;

    button {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
        border: 1px solid #bfbfbf;

        &.btn-facebook,
        &.btn-facebook:hover {
            background: #1976d2;
            border: 1px solid #1976d2;
            color: white;
        }

        &.btn-twitter,
        &.btn-twitter:hover {
            background: #1da1f2;
            border: 1px solid #1da1f2;;
            color: white;
        }

        &.btn-github,
        &.btn-github:hover {
            background: black;
            color: white;
        }

        &:hover {
            background: none;
            color: black;
        }

        svg {
                height: 20px;
                width: 20px;
                margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 800px) {
    nav {
        margin-bottom: 50px;
    }

    .container {
        display: initial;

        .category-col {
            margin-right: auto;

            select {
                width: 100%;
            }

            aside {
                display: none;
            }
        }
    }

    .login-btn-group {
        display: initial;
        justify-content: initial;
        width: auto;
    
        button {
            width: 100%;
            margin-top: 15px;
        }
    }
}

@media only screen and (max-width: 600px) {

    body {
        padding: 20px;
    }

    input {
        width: 100%;
        display: block;
    }

    button {
        width: 100%;
    }

    label {
        margin-bottom: 10px;
        display: inline-block;
    }

    .wrap {
            width: auto;

        .settings-item {
            display: block;

            button {
                flex: 1;
            }

            span {
                display: inline-block;
                margin-bottom: 10px;
            }

            .category-edit {
                width: 100%;

                input {
                    padding: 5px 0;
                    margin-bottom: 10px;
                }
            }
    
            .settings-item-buttons {
                display: flex;

                input {
                    flex: auto;
                    margin-bottom: 10px;
                    padding: 5px 0;
                }

                .sub-save-btn,
                .sub-remove-btn {
                    flex: 1;
                }
            }
        }
    }

    @media only screen and (max-width: 386px) { 

        button:disabled {
            margin-top: 10px;
        }

        .settings-item-buttons {
            .sub-save-btn {
                margin-top: 10px;
            }
        }
    }
}
  